<!--   First block Start   -->
  <section id="first-block">
    <div class="title-container">
      <h1>Enjoy Your Conversation</h1>
      <h3></h3>
    </div>
  </section>
  <!--   First block End   -->


  <html lang="ja">
  <head>
   <meta charset="utf-8">
   <title>6-1-6 複数画像を並列に見せる</title>
   <meta name="description"  content="書籍「動くWebデザインアイディア帳」のサンプルサイトです">
  
   <meta name="viewport" content="width=device-width,initial-scale=1.0">
   <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
   <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
   <link rel="stylesheet" type="text/css" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/css/6-1-6.css">
  
  </head>
  
  <body>
   <h2></h2>
  
   <ul class="slider">
   <%= link_to tweets_nomikai_path do %>
    <li><%= image_tag 'beerrrr-2-1024x574.png' %></li>
    <% end %>
    <%= link_to tweets_date_path do %>
    <li><%= image_tag '76fa15d7-06d0-4b38-a10f-b1407ca4db30.jpg' %></li>
    <% end %>
    <%= link_to tweets_syotaimen_path do %>
    <li><%= image_tag 'img_service_03.jpg' %></li>
    <% end %>
    <%= link_to tweets_jousi_path do %>
    <li><%= image_tag 'midcareer.jpg' %></li>
    <% end %>
    <%= link_to tweets_kyoutsuu_path do %>
    <li><%= image_tag 'hosisi.png' %></li>
    <% end %>
   <!--/slider--></ul>
    
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
   <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/6-1-6/js/6-1-6.js"></script>
  
  </body>
  </html>
