<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
          <h2>おすすめのゲーム診断</h2>

            <div class="col-12">
                <p>Question3. 探しているのはどっちのゲーム？</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>仲のいい人とするゲーム</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>あまり親しくない人ともできるゲーム</p>
            </div>

            <div class="col-12">
                <p>Question1. どっちのシチュエーション？</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>1対1でやるゲーム</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>みんなやるゲーム</p>
            </div>

            <div class="col-12">
                <p>Question2. やるなら会話の多いゲームが良い</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>はい</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>いいえ</p>
            </div>


        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit "post" %>
    </div>
<% end %>