<div class="intoro">
            <h2>診断結果</h2>
            <p>おすすめのコミュニケーションの取り方は...</p>
</div>
    <div class="tweet-container">
        <div class="tweet">
            <% if @perfume.question == "111" %>
            <h6>叩いてかぶってじゃんけんポン</h6>
            <p>仲がいい人とだからできるコミュニケーションの取り方</p>
            <p>やっても、やられても笑いが起きること間違いなし！</p>
            <%= image_tag 'pikopiko.jpg' %>

            <% elsif @perfume.question == "211" %>
            <h6>すべらない話</h6>
            <p>難易度高め。でも自分を知ってもらうチャンス！</p>
            <p>日常の出来事を笑いとともにシェアしよう！</p>
            <%= image_tag 'suberanaihanasi.jpg' %>

            <% elsif @perfume.question == "212" %>
            <h6>ブロック積み</h6>
            <p>紙とペンがあればどこでもできる！</p>
            <p>会話をせずにコミュニケーション</p>
            <%= image_tag 'burokkutumi.jpg' %>

            <% elsif @perfume.question == "112" %>
            <h6>記憶力お絵描きゲーム</h6>
            <p>よく見てるけど、うまく描けない...</p>
            <p>あなたの記憶力が試される！</p>
            <%= image_tag 'kiokuryoku.png' %>

            <% elsif @perfume.question == "121" %>
            <h6>人狼ゲーム</h6>
            <p>ハラハラドキドキの心理戦</p>
            <p>あなたの人を見る目が試される！</p>
            <%= image_tag 'jinrou.jpg' %>

            <% elsif @perfume.question == "122" %>
            <h6>制限しりとり</h6>
            <p>字数、お題、カタカナ禁止など縛りをつけてしりとりしよう</p>
            <p>いつもの友達に知的アピールのチャンスかも！</p>
            <%= image_tag 'siritori.webp' %>

            <% elsif @perfume.question == "222" %>
            <h6>以心伝心ゲーム</h6>
            <p>「○○と言えば？」でみんなの心を一つにしよう。</p>
            <p>珍回答連発で仲が深まること間違いなし！</p>
            <%= image_tag 'isindensinn.jpg' %>

            <% elsif @perfume.question == "221" %>
            <h6>ito(イト)</h6>
            <p>皆のカードを0~100まで並べ替えよう</p>
            <p>協力プレーと自己表現で周りとの距離がぐっと近づく！</p>
            <%= image_tag 'ito.webp' %>

            <% end %>
        </div>
    </div>
</div>
</div>
